@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  background-color: #e8c0aa;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.take-test-head {
  max-width: 866px;
  margin: auto;
}
.know-more h1,
.heading-container h1 {
  font-size: 65px;
  color: rgb(255, 255, 255);
  line-height: 96px;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  margin-top: 180px;
  text-shadow: 2px 2px 8px #000;
}
.know-more h3,
.heading-container p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 27px;
  font-weight: 400;
  margin: 0;
}
.step-container {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
}
.step-card {
  width: 328.803px;
  padding: 20px;
  margin: 16px;
  border-radius: 16px;
  background: #ffffff7d;
  box-sizing: border-box;
}
.step-card:hover {
  background-color: white;
}
.step-card .step-icon img {
  width: 48px;
}
.step-icon {
  width: 48px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
}
.step-card h2 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0;
  font-weight: 700;
  font-style: normal;
  color: rgb(166, 166, 166);
  text-decoration: none;
}
.step-card p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-style: normal;
  color: rgb(166, 166, 166);
  text-decoration: none;
  margin-top: 0;
}
.question-container {
  background: #fcf6f3db;
  width: 100%;
  margin: 28px auto;
  border-radius: 140px 140px 0px 0;
  box-sizing: border-box;
  padding: 64px;
  padding-top: 110px;
  margin-top: -100px;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.75s;
}
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  color: rgb(115, 115, 115);
  font-size: 18.4226px;
  line-height: 25px;
  margin: 0 15px;
  width: 200px;
}
.option-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.question-text {
  font-weight: 700;
  font-size: 22.104px;
  color: rgb(115, 115, 115);
  line-height: 30px;
  letter-spacing: 0em;
}
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  visibility: hidden;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  position: relative;
  align-items: center;
  cursor: pointer;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: "";
  width: 28px;
  min-width: 28px;
  height: 28px;
  border: 2px solid #e8c0aa;
  margin-bottom: 12px;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #e8c0aa;
  position: absolute;
  top: 10px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.multiple {
  align-items: normal;
}
.multiple label {
  display: flex;
  flex-direction: row !important;
  text-align: left;
}
.multiple label::before {
  margin-right: 12px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.multiple label::after {
  left: 10px;
  top: unset !important;
}
.next-button {
  width: 292.168px;
  background: #e8c0aa;
  outline: none;
  border: none;
  margin: auto;
  border-radius: 36px;
  margin-top: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  color: white;
  font-size: 22px;
  justify-content: center;
  padding: 16px 0;
  position: relative;
}
.next-button img {
  width: 28px;
  position: absolute;
  right: 40px;
  transition: right 0.2s;
}
.next-button:hover img {
  right: 20px;
  transition: right 0.2s;
}

/* ................... answers sheet ------------------------- */
.physical-truma {
  display: flex;
  width: 90%;
  margin: auto;
  background: #e8c0aa;
  margin: 44px;
  padding: 30px 10px;
  border-radius: 24px;
  box-sizing: border-box;
}
.physical-para {
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: absolute;
  top: 74%;
  text-align: center;
}
.phy {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 33%) 0px 2.57872px 10.9596px;
}
.physical-img {
  width: 282px;
}
.physical-img img {
  width: 100%;
}
.left {
  width: 50%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: end;
  align-items: center;
}

.left-truma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}
.right-truma {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 40px;
}
.right-truma h1 {
  font-weight: 400;
  font-size: 4vw;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 33%) 0px 2.57872px 10.9596px;
  padding-bottom: 16px;
}
.right-truma p {
  text-align: left;
  font-weight: 400;
  color: white;
  padding: 5px 0px;
  margin: 0;
  font-size: 18px;
}
.right {
  width: 50%;
  display: flex;
  justify-content: end;
  display: flex;
  justify-content: flex-start;
}
.right-truma span {
  color: rgb(247, 231, 215);
  font-size: 14px;
}
.horizontal {
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
}
.find-out-main {
  display: flex;
  justify-content: center;
  padding: 12vh 0px 20vh 0px;
}
.find-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  background-color: #f7e7d7;
  border-radius: 1.2vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 80%;
}
.find-out h1 {
  text-shadow: rgb(0 0 0 / 20%) 0px 1.29194px 3.5593px;
  padding-bottom: 4vh;
  font-family: "Arimo", sans-serif;
  font-size: 4.2vh;
  margin-bottom: -26px;
}
.find-out p {
  font-size: 24px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 4vh;
  line-height: 36px;
  font-weight: 400;
}
.find-out input {
  font-size: 20px;
  color: rgb(166, 166, 166);
  transform: scaleX(1) scaleY(1);
  transform-origin: 0px px 0px;
  writing-mode: horizontal-tb;
  border: none;
  border-radius: 2vw;
  text-align: center;
  padding: 1vh 2vw;
  font-family: "Arimo", sans-serif;
  margin-bottom: 4vh;
  font-weight: bold;
}
.find-out button {
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: #e8c0ab;
  padding: 1.4vh 2.4vw;
  border: none;
  border-radius: 6vh;
  font-family: "Arimo", sans-serif;
  position: relative;
  cursor: pointer;
}
.shadow-box {
  width: 63%;
  height: 9px;
  margin-top: -10px;
  margin-left: 18%;
  box-shadow: -21px -8px 18px 12px grey;
  border-radius: 50%;
}

.selection-hint {
  margin: 0px;
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .right-truma p {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    padding: 16px 0px;
    font-size: 16px;
  }
}
.result-container {
  background: #f7e7d7;
  padding: 100px 10px;
  box-sizing: border-box;
}
.review-card-container {
  display: flex;
  margin: auto;
  justify-content: center;
}
.review-card {
  width: 275px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}
.review-card span {
  font-size: 8rem;
  font-family: serif;
  font-weight: 900;
  line-height: 0;
  color: #a9a3a3;
}
.review-card p {
  color: #d9d9d9;
  font-size: 20px;
  line-height: 28px;
  padding: 14px;
  margin-top: 60px;
}
.review-card img {
  width: 74px;
  height: 74px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.review-card h1 {
  font-size: 17px;
}
.card-shadow {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 48px;
  top: -5px;
  background-color: green;
  border-radius: 20px;
}
.physical-c {
  box-shadow: 0 -4px #84baae;
}
.emotional-c {
  box-shadow: 0 -4px #f0bbb0;
}
.energetic-c {
  box-shadow: 0 -4px #f7a34d;
}
.physical-c h1 {
  color: #84baae;
}
.emotional-c h1 {
  color: #f0bbb0;
}
.energetic-c h1 {
  color: #f7a34d;
}
.reviews-container {
  background-color: #f9eee9;
  padding: 40px 0;
  z-index: 0;
}
.reviews-counter {
  margin-bottom: 44px;
}
.reviews-counter h2 {
  color: #e8c0aa;
  font-size: 49px;
  font-weight: 400;
}
.reviews-counter h1 {
  font-size: 54px;
  color: #737373;
}

.reviews-counter p {
  color: #737373;
  font-size: 20px;
  line-height: 18px;
}
.reviews-counter p span {
  color: #e8c0aa;
}
.landingpage .heading-container {
  position: relative;
}
.landingpage .heading-container h1 {
  font-size: 44px;
  line-height: 1.5;
}
.first-btn button {
  background: #f7e7d7;
  color: #737373;
}
.first-btn p {
  color: white;
}
.b-img-1 {
  position: absolute;
  width: 25%;
  height: 50%;
  left: 0%;
  top: 50%;
}
.b-img-2 {
  position: absolute;
  width: 12%;
  height: 30%;
  left: 30%;
  top: 65%;
}
.b-img-3 {
  position: absolute;
  width: 25%;
  height: 50%;
  right: 0;
  top: 50%;
}
.b-img-4 {
  position: absolute;
  width: 12%;
  height: 30%;
  right: 30%;
  top: 65%;
}
.h300 {
  height: 300px;
}
.know-more {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .physical-truma {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    padding: 14% 0%;
  }
  .right {
    width: 100%;
    justify-content: end;
    display: flex;
    justify-content: center;
    margin-top: 12%;
  }
  .right-truma h1 {
    font-weight: 400;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0 0 0 / 33%) 0px 2.57872px 10.9596px;
    padding: 2vh 0vw;
  }
  .right-truma {
    padding-right: 0%;
  }
  .right-truma p {
    padding: 8px 0px;
  }

  .physical-para {
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: absolute;
    top: 140%;
    text-align: center;
  }
  .find-out p {
    font-size: 20px;
  }
  .find-out input {
    font-size: 14px;
  }
  .find-out button {
    font-size: 24px;
  }
  .question-container {
    margin: auto !important;
    border-radius: unset;
  }
  .review-card-container {
    flex-direction: column;
  }
  .review-card {
    width: 90%;
    margin: 20px auto;
  }
  .img-comment {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .img-comment p {
    width: 80%;
    margin: 0;
    padding: 10px 0;
  }
  .step-card {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .step-card .step-heads {
    text-align: left;
    padding-left: 12px;
  }
  .physical-img img {
    width: 73%;
  }
  .physical-para {
    top: 73%;
  }
}

@media screen and (max-width: 480px) {
  .find-out {
    width: 78%;
  }
  .right {
    margin-top: 22%;
  }
  .heading-container h1 {
    font-size: 48px;
  }
}
.right-truma p strong {
  font-size: 19px;
}
::placeholder {
  color: #a6a6a6;
  line-height: 27px;
  font-weight: 400;
  opacity: 1;
}

.test {
  position: fixed;
  top: 50px;
  color: white;
  left: 16px;
  font-size: 22px;
  background: #e8c0aa;
  padding: 16px;
}

.disabledClass {
  opacity: 0.3;
}
